
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */