body
{
	background-color: #2e2e1f;
	color: #FFFFFF;
	pading: 0;
	margin: 0;
	
	font-family: 'Lato', sans-serif;
	
}


#container
{
	width: 100%;
}

#logo
{
	margin-left: auto;
	margin-right: auto;
	font-size: 52px;
	padding: 10px;
	text-align: center;
	margin-top: 15px;
	width: 500px;

}



.nav
{
	width: 100%;
	height: 50px;
	background-color: #800000;
	text-align: center;
	font-size: 20px;

}

#content
{
	width: 1000px;
	font-size: 20px;
	text-align: justify;
	margin-left: auto;
	margin-right: auto;
}

#social
{
	width: 100%;
	
}

#socialdivs
{
	width: 510px;
	height: 125px;
	text-align:center;
	margin-left:auto;
	margin-right: auto;
}

#footer
{
	padding: 10px;
	font-size: 20px;
	text-align: center;
	
}

#fb
{
	float: left;
	background-color: #3B5998;
	width: 120px;
	height: 125px;
	margin-right: 10px;
}

#fb:hover
{
	background-color: #2A4887;
}

#tw
{
	float: left;
	background-color:  #0084b4;
	width: 120px;
	height: 125px;
	margin-right: 10px;
}

#tw:hover
{
	background-color: 0073A3;
}

#yt
{
	float: left;
	background-color: #FF0000;
	width: 120px;
	height: 125px;
	margin-right: 10px;
}

#yt:hover
{
	background-color: #BB0000;
}

#gplus
{
	float: left;
	background-color:  #d34836;
	width: 120px;
	height: 125px;
}

#gplus:hover
{
	background-color: #C23725;
}

.sticky
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	
}


a
{
	color: #FFFFFF;
}

ol
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	height: 30px;
	line-height: 200%;
	display: inline-block;
}

ol a
{
	color: #FFFFFF;
	text-decoration: none;
	display: block;

}

ol > li
{
	float: left;
	width: 150px;
	height: 40px;
	border-right: 1px dashed #FF0000;
	margin-top: 7px;
}

ol > li:first-child
{
	border-left: 1px dashed #FF0000;
}

ol > li:hover
{
	background-color: #B00000;
}


ol > li > ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;

}

ol > li > ul > li
{
	background-color: #800000;
	text-align:left;
	display: block;
	text-align:center;
	border-top: 1px dashed #FF0000;
	display: none;
	position: relative;
}

ol > li:hover > ul > li
{
	display: block;
}

ol > li > ul > li:hover
{
	background-color: #B00000;
}

